# API
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:4000/chat

# Features
NEXT_PUBLIC_FEATURE_WHATSAPP=true
NEXT_PUBLIC_FEATURE_ANALYTICS=true
NEXT_PUBLIC_FEATURE_FLOW_BUILDER=true

# Analytics
NEXT_PUBLIC_GA_ID=

# Design
NEXT_PUBLIC_PRIMARY_COLOR=#0ea5e9
NEXT_PUBLIC_LOGO_URL=/images/logo/logo-dark.svg